tCHu.iml
out
*.code-workspace
archive.sh
archive.zip
.DS_Store
.idea/.gitignore
.idea/discord.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/artifacts/Archive.xml
.idea/dictionaries/jad.xml
.idea/libraries/JUnit.xml
.idea/libraries/junit_platform_console_standalone_1_8_0_M1.xml
.idea/libraries/OpenJFX_11.xml
resources/.DS_Store
src/.DS_Store
src/ch/.DS_Store
test/.DS_Store
test/ch/.DS_Store
test/ch/epfl/.DS_Store
test/ch/epfl/tchu/.DS_Store
.vscode/launch.json
.vscode/launch.json
